@theme {
  --spacing-margin-m: 16px;
  --spacing-margin-l: 24px;
  --spacing-margin-xl: 40px;
  --spacing-margin-xxl: 80px;
  --spacing-margin-xxxl: 160px;
  --spacing-padding-m: 16px;
  --spacing-padding-l: 24px;
}
